<h3>You were mentioned by <%= @journal.user.login %> on <%=  @journal.created_on.to_s(:db) %> in <a href="<%= @issue_url %>#change-<%= @journal.id %>">issue #<%= @issue.id %></a></h3>
<h4>Context</4>
<p>
  <%= @journal.notes %>
</p>
<h4>Subject</h4>
<%= @issue.subject %>
<h4>Project</h4>
<%= @issue.project.name %>
